<!DOCTYPE html>
<html>
<body>

<p>
<a href="http://{{ ansible_eth0.ipv4.address }}:32400/web">
<img border="0" alt="Plex" src="images/dlm4-plex.png" width="100" height="100">
</a>
</p>

<p>
<a href="http://{{ ansible_eth0.ipv4.address }}:8112">
<img border="0" alt="Deluge" src="images/dlm4-deluge.jpeg" width="100" height="100">
</a>
</p>

<p>
<a href="http://{{ ansible_eth0.ipv4.address }}:8989">
<img border="0" alt="Sonarr" src="images/dlm4-sonarr.jpeg" width="100" height="100">
</a>
</p>

<p>
<a href="http://{{ ansible_eth0.ipv4.address }}:8080">
<img border="0" alt="SabNZBd" src="images/dlm4-sabnzbd.svg" width="100" height="100">
</a>
</p>

<p>
<a href="http://{{ ansible_eth0.ipv4.address }}:8090">
<img border="0" alt="Mylar" src="images/dlm4-mylar.jpeg" width="100" height="100">
</a>
</p>

<p>
<a href="http://{{ ansible_eth0.ipv4.address }}:8000">
<img border="0" alt="Munin" src="images/dlm4-munin.png" width="400" height="100">
</a>
</p>

<p>
<a href="http://{{ ansible_eth0.ipv4.address }}:5800">
<img border="0" alt="Jdownloader-2" src="images/dlm4-jdownloader-2.jpeg" width="100" height="100">
</a>
</p>

</body>
</html>
